@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=KFOmCnqEu92Fr1Me4H4CIx8UAOreuKZhS0qGMm0qVQPgY9wxbwvQ7EqY0RRvlSR6njU4vZaSFqS_FXdjaZHltfR592bhZBr4xRJ9jWppcxaY6-qawqQjUDiZp6k&skey=a0a0114a1dcab3ac&v=v27)
    format("woff2");
}
