$bg: #fff;
$bg--input: #fff;
$bg--prim: #fff;
$bg--comp: #eaeaff;
$bg--comp--em: #c9cbff;

$color: #aaa;
$color--input: #000;
$color--prim: #2135e2;
$color--prim-em: #6c6c6c;
$color--comp: #0b05be;
$color--comp--em: #000;

$shadow-nums: 0 1px 3px;
$shadow-color: #0001;
$shadow-color--prim: #5869ff30;
$shadow-color--comp: #5869ff60;

$border-color--comp: #5869ff20;
$border-radius--small: 3px;
$border-radius--big: 6px;

$font--small: 13px;
